*~
tmp*
*.tmp
*.bak
*.pyc

# Markdown artifacts

*.md.html

# Build artifacts

nosetests.xml
coverage.xml
.coverage
*.cover
.figleaf
report.html
pyccuracy_report.html

# Sass artifacts

.sass-cache/

# System artifacts

PIL.pth

